h1{
    padding-left: 10px;
}

h2 {
    padding-left: 15px;
    padding-top: 0.6ch;
}

.subtitle{
    font-size: clamp(1.5rem, -1rem + 10vw, 3rem);
    padding-left: 15px;
}

.section{
    height: fit-content;
    background-color: rgb(15, 15, 15);
    border-radius: 15px;
    margin: 10px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    align-items: start;
}

.text {
    height: fit-content;
    padding-bottom: 15px;
}

.rightT{
    grid-area: 1/1/2/2;
    padding-left: 15px;
}

.leftT{
    grid-area: 1/2/2/3;
}

div.cam {
    vertical-align: top;
    text-align: center;
    padding: 0 15px 1ch 15px;
    width: fit-content;
}

.rightC{
    grid-area: 1/2/2/3;
}

.leftC{
    grid-area: 1/1/2/2;
}

.cam img {
    padding-bottom: 10px;
    width: 21ch;
}

.cam span { /*Camera name*/
    display: block;
}

@media screen and (max-width: 650px){ /* CHANGE WHEN TEXT FINISHED*/
    .text {
        grid-area: 2 / 1 / 3 / 3;
    }

    div.cam {
        padding-left: 15px;
        grid-area: 1 / 1 / 2 / 3;
        width: auto;
    }

    .cam img{
        width: 100%;
    }
}