h1{
    padding-left: 10px;
}

h2 {
    padding-left: 10px;
}

.section{
    height: fit-content;
    background-color: blueviolet;
}

.grid {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    align-items: start;
}

.text {
    height: fit-content;
    padding-left: 10px;
}

.rightT{
    grid-area: 1/1/2/2;
}

.leftT{
    grid-area: 1/2/2/3;
}

div.cam {
    vertical-align: top;
    text-align: center;
    padding: 0 10px 1ch 10px;
    width: fit-content;
}

.rightC{
    grid-area: 1/2/2/3;
}

.leftC{
    grid-area: 1/1/2/2;
}

.cam img {
    padding-bottom: 10px;
    width: 21ch;
}

.cam span { /*Camera name*/
    display: block;
}

@media screen and (max-width: 600px){ /* CHANGE WHEN TEXT FINISHED*/
    .text {
        grid-area: 2 / 1 / 3 / 3;
    }

    div.cam {
        padding-left: 10px;
        grid-area: 1 / 1 / 2 / 3;
    }
    /*bild volle breite?*/
}